[Desktop Entry]
Version=1.0
Name=FanController
Icon={ YOUR PATH }/nvidia_fan_control/misc/fan.png
Comment=Python script for control nvidia CPUs fun speed
Exec=python3 { YOUR PATH }/nvidia_fan_control/src/main.py
Terminal=false
Type=Application
Categories=Application;